<div class="container">
    <nav class="navbar navbar-light bg-white border-bottom border-secondary justify-content-between">
        <a class="navbar-brand" href="#">
          <img src="../../../../assets/images/logo.jpg" width="70" height="70" class="d-inline-block align-center font-weight-bold" alt="">
          <span class="fs-4">LogoBall</span>
        </a>
        <div class="navbar-text fs-5 fw-bold col-6">
            <div class="container">
                <div class="row justify-content-around text-end">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>
    </nav>
</div>